; certificates module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/certificates
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[certificates_templates]
description = "Certificate templates"
brick = "tables certificates"
group = "read and write"
include_access[] = certificates_templates_edit
include_access[] = certificates_event
include_access[] = certificates_event_edit

[certificates_event_edit]
description = "Choose a certificate and edit certificate data for an event"
brick = "forms events-certificates *"
group = admin
page_placeholder_check = 1
