; certificates module
; proposed settings
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/certificates
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2022-2023 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
; 
; Syntax of this configuration file:
; 
; [key]: setting key
; - Field "description": description, just for information.
; - Field "type": type of setting, e. g. mail, number, foreign_key, etc.
; - Field "default": default value
; - Field "db_field": corresponding database field (table.field)
;

[certificates_templates_path]
description = "path to list of all available certificates"
type = url
brick = "tables certificates"

["font_file[bold]"]
description = "font filename for bold font (without path, but with extension)"

["font_file[regular]"]
description = "font filename for regular font (without path, but with extension)"

[memory_limit]
description = "increase PHP memory limit, if needed for certificate"
scope = [certificates]
